
body {
    font-family: Arial, Helvetica, sans-serif;   
}

.head {
    display: flex;
    align-items: center;
    /*background-color: lightpink;*/
}

.head img {
    border-radius: 100%;
    margin: 5px;
}

.head-right {
    margin-left: 50px;
}


.main {
    /*background-color: lightblue;*/
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;

    background-image: url('img/background.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

@media  only screen and (max-width: 500px) {
    .main {
        background-image: url('img/logo.jpg');
    }

    .foot {
        display: none;
    }
  }

.menu {
    opacity: 0.6;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 200px;
    transform: translate3d(-200px, 0, 0);
    transition: transform 1s;
    background-color: lightskyblue;
}

.menu a {
    text-decoration: none;
    font-size: 1.2em;
}

ul, li {
    list-style-type: none;
}

.toggle {
    position: absolute;
    right: -60px;
    width: 60px;
    height: 60px;
    padding: 0;
    background: lightskyblue url(img/navicon.png) 50% 50% / 25px 25px no-repeat;
}

.menucheck {
    display: none;
}

.menucheck:checked +.menu{
    transform: translate3d(0, 0, 0);
}

.content{
    top:40%;
    left: 20%;
    position: absolute;
    width: 60%;
    background-color: #ffffff;
    opacity: 0.6;
}
