
body {
    font-family: Arial, Helvetica, sans-serif;
}

.head {
    display: flex;
    align-items: center;
    background-color: darkblue;
}

.head img {
    border-radius: 100%;
    margin: 5px;
}

.head-center {
    margin: 0 50px;
    width: auto;
}

.head-right {
    position: absolute;
    width: 200px;
    right: 100px;
}


.main {
    /*background-color: lightblue;*/
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url('img/background.jpg');
    /*background-repeat: no-repeat;*/
    background-size: 100%;
}

.menu {
    opacity: 0.8;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 200px;
    transform: translate3d(-200px, 0, 0);
    transition: transform 1s;
    background-color: lightskyblue;
}


.menu a {
    line-height: 2em;
    text-decoration: none;
    font-size: 1.2em;
    color: white;
}

.menu a:hover {
    color: darkblue;
}

ul, li {
    list-style: none;
}

.toggle {
    position: absolute;
    right: -60px;
    width: 60px;
    height: 60px;
    padding: 0;
    background: lightskyblue url(img/navicon.png) 50% 50% / 25px 25px no-repeat;
}

.menucheck {
    display: none;
}

.menucheck:checked +.menu{
    transform: translate3d(0, 0, 0);
}

.content{
    top:40%;
    left: 20%;
    right: 20%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    text-align: center;
    padding: 20px;
    border: 5px solid darkblue;
}

.content h1, h2, p {
    color: darkblue;
}

.about {
    display: flex;
}

.about-pic img {
    border: 1px solid black;
}

.treatment {
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
}

.treatment h2 {
    text-align: center;
}

.treatment p {
    text-align: justify;
}

.treatment img {
    display: block;
    margin: 0 auto;
    width: 50%;
}

.treatment-item {
    padding: 20px;
}


@media  only screen and (max-width: 925px) {
    .head-right {
        display: none;
    }
    .main {
        background-image: url('img/smartphonebackground.jpg');
    }

    .foot {
        display: none;
    }

    .treatment {
        display: inline;
    }

  }
